h2 {
    font-family: 'Roboto';
    padding-left: 50px;
    padding-right: 50px;
}
body {
    background-color: darkgray;
}
#thepage{
    width: 60%;
    background-color: white;
    margin: auto;
}
p {
    font-family: 'Roboto';
    padding-left: 50px;
	padding-right: 75px;
}

h1 {
    font-family: 'Roboto';
    padding-left: 50px;
	padding-right: 50px;
}

#choroplethMap {
	top:15px;
	bottom: 50px;
	width: 100%;
}
#timeSeries {
    top:15px;
    margin-right: 150px;
	bottom: 50px;
}
#subregionAfrica {
    top:15px;
	bottom: 50px;
	width: 100%;
}
#stateTS {
    top:15px;
    padding-bottom: 5%;
	width: 100%;
    height: 100%;
}
.vis-container {
	width: 100%;
	height: 100%;
}

.break1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(204, 197, 197), transparent);
    padding-top: 5px;
	width: 100%;
}